[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/hbisheng/rocksdb.git
	branch = tikv-cherry-pick

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/v01dstar/titan.git
	branch = upgrade-rocksdb
